.container {
}

.heading {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid gray;
  height: 390px;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.card:hover {
  background-color: #f5ebe0;
}

.breakfastHeading {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.image {
}

@media (min-width: 768px) and (max-width: 990px) {
  .container {
    background-color: steelblue;
  }
}

/* @media only screen and (max-width: 600px) {
  .container {
    background-color: lightblue;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    background-color: blue;
  }
} */
